<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BilibiliApi" version="0.1.9" targetFramework="net48" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net48" />
  <package id="SharpYaml" version="1.6.6" targetFramework="net48" />
  <package id="sqlSugar" version="5.0.0.15" targetFramework="net48" />
  <package id="System.Data.SQLite" version="1.0.113.1" targetFramework="net48" />
  <package id="System.Data.SQLite.Core" version="1.0.113.1" targetFramework="net48" />
  <package id="System.Data.SQLite.EF6" version="1.0.113.0" targetFramework="net48" />
  <package id="System.Data.SQLite.Linq" version="1.0.113.0" targetFramework="net48" />
</packages>